UserStorage/WcfClient/Service References/ServiceReference1/master2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserStorage" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserStorage" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.86.51:8080/Service/master?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UserStorage.Entities" />
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element name="_x003C_DateOfBirth_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_ID_x003E_k__BackingField" type="xs:int" />
      <xs:element name="_x003C_LastName_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_Name_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/UserStorage.Entities" name="_x003C_UserGender_x003E_k__BackingField" type="q1:Gender" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/UserStorage.Entities" name="_x003C_VisaRecords_x003E_k__BackingField" nillable="true" type="q2:ArrayOfVisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
</xs:schema>