UserStorage/WcfClient/Service References/ServiceReference1/SlaveService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SlaveService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/slave_1?xsd=xsd2" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/slave_1?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/slave_1?xsd=xsd1" namespace="http://schemas.datacontract.org/2004/07/UserStorage.SearchCriteria" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/slave_1?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/UserStorage" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/slave_1?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/UserStorage.Entities" />
      <xsd:import schemaLocation="http://127.0.0.1:8080/Service/slave_1?xsd=xsd5" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IUSContract_Add_InputMessage">
    <wsdl:part name="parameters" element="tns:Add" />
  </wsdl:message>
  <wsdl:message name="IUSContract_Add_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddResponse" />
  </wsdl:message>
  <wsdl:message name="IUSContract_Delete_InputMessage">
    <wsdl:part name="parameters" element="tns:Delete" />
  </wsdl:message>
  <wsdl:message name="IUSContract_Delete_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteResponse" />
  </wsdl:message>
  <wsdl:message name="IUSContract_FindByTag_InputMessage">
    <wsdl:part name="parameters" element="tns:FindByTag" />
  </wsdl:message>
  <wsdl:message name="IUSContract_FindByTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:FindByTagResponse" />
  </wsdl:message>
  <wsdl:message name="IUSContract_WriteToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:WriteToXML" />
  </wsdl:message>
  <wsdl:message name="IUSContract_WriteToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:WriteToXMLResponse" />
  </wsdl:message>
  <wsdl:message name="IUSContract_ReadFromXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ReadFromXML" />
  </wsdl:message>
  <wsdl:message name="IUSContract_ReadFromXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReadFromXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IUSContract">
    <wsdl:operation name="Add">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSContract/Add" message="tns:IUSContract_Add_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSContract/AddResponse" message="tns:IUSContract_Add_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSContract/Delete" message="tns:IUSContract_Delete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSContract/DeleteResponse" message="tns:IUSContract_Delete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindByTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSContract/FindByTag" message="tns:IUSContract_FindByTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSContract/FindByTagResponse" message="tns:IUSContract_FindByTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="WriteToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSContract/WriteToXML" message="tns:IUSContract_WriteToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSContract/WriteToXMLResponse" message="tns:IUSContract_WriteToXML_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReadFromXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IUSContract/ReadFromXML" message="tns:IUSContract_ReadFromXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IUSContract/ReadFromXMLResponse" message="tns:IUSContract_ReadFromXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IUSContract" type="tns:IUSContract">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Add">
      <soap:operation soapAction="http://tempuri.org/IUSContract/Add" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Delete">
      <soap:operation soapAction="http://tempuri.org/IUSContract/Delete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="FindByTag">
      <soap:operation soapAction="http://tempuri.org/IUSContract/FindByTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WriteToXML">
      <soap:operation soapAction="http://tempuri.org/IUSContract/WriteToXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReadFromXML">
      <soap:operation soapAction="http://tempuri.org/IUSContract/ReadFromXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SlaveService">
    <wsdl:port name="BasicHttpBinding_IUSContract" binding="tns:BasicHttpBinding_IUSContract">
      <soap:address location="http://127.0.0.1:8080/Service/slave_1" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>