UserStorage/WcfClient/Service References/ServiceReference1/slave_13.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/UserStorage.Entities" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/UserStorage.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://127.0.0.1:8080/Service/slave_1?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="Gender">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Female" />
      <xs:enumeration value="Male" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="Gender" nillable="true" type="tns:Gender" />
  <xs:complexType name="ArrayOfVisaRecord">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VisaRecord" type="tns:VisaRecord" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVisaRecord" nillable="true" type="tns:ArrayOfVisaRecord" />
  <xs:complexType name="VisaRecord">
    <xs:annotation>
      <xs:appinfo>
        <IsValueType xmlns="http://schemas.microsoft.com/2003/10/Serialization/">true</IsValueType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element name="_x003C_Country_x003E_k__BackingField" nillable="true" type="xs:string" />
      <xs:element name="_x003C_VisaEnd_x003E_k__BackingField" type="xs:dateTime" />
      <xs:element name="_x003C_VisaStart_x003E_k__BackingField" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="VisaRecord" nillable="true" type="tns:VisaRecord" />
</xs:schema>